:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1b22;
    color: #fbfbfe;
  }
}

input {
  padding: 5px;
  font-size: 18px;
}

label {
  font-size: 18px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 10px 0 0;
}

legend {
  font-size: 18px;
}